<app-gateway-leftnav></app-gateway-leftnav>



<div class="container" fxLayout="column" fxLayoutAlign="space-between" style="height: 100%">

  <div class="zhixian">
    <div class="contaninertitle" style="color: #666A6E; font-size: 20px;">AcmeUSD/ETH</div>
    <div class="zhixiandate">
      <span>12 Jan 2018</span>
      <div class="buttons">
        <button class="before">
          <</button>
        <button class="next">></button>
      </div>
    </div>
    <div class="charts">
      <img src="./assets/images/status.png">
    </div>
  </div>
  <div class="request">
    <div class="content">
      <div class="contenttitle">
        DEPOSITS
      </div>

      <mat-table #table [dataSource]="dataSource" class="example-table"
                 matSort matSortActive="date" matSortDisableClear matSortDirection="desc">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header
                           disableClear="true">
            Date
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.timestamp * 1000| date:'medium' }}</mat-cell>
        </ng-container>


        <!-- Request NO. Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>Request NO.</mat-header-cell>
          <mat-cell *matCellDef="let row">Deposit-{{ row.id }}</mat-cell>
        </ng-container>

        <!-- User ID Column -->
        <ng-container matColumnDef="userId">
          <mat-header-cell *matHeaderCellDef>User Address</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.userId }}</mat-cell>
        </ng-container>


        <!-- Currency Column -->
        <ng-container matColumnDef="currency">
          <mat-header-cell *matHeaderCellDef>Currency</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.ccy }}</mat-cell>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.amount }}</mat-cell>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
          <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.state }}</mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>


    </div>
  </div>
  <div class="footer" fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button routerLink="deposit/submit"><div class="action">Deposit</div></button>
    <button mat-raised-button routerLink="withdraw/submit"><div class="action">Withdraw</div></button>
    <button mat-raised-button routerLink="account/register"><div class="action">Transfer</div></button>
  </div>

</div>
