<mat-card style="width: 80vw">
  <div  fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="1vw">
    <span></span>
    <span></span>

    <span class="app-name">
      <header>
        <span [routerLink]="['../../']">OAX</span>
      </header>
    </span>


    <span fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="2vw">
      <div class="detail-list" fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="2vw">
        <span class="left"  fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="1vw">
          <span class="img" style="width: 7vw; height: 7vw; border-radius: 50%; background-color: #d8d8d8;"> </span>
          <div>
            <div class="name">Gateway A</div>
            <span class="desc">Best Assets this month</span>
          </div>

          <br>
        </span>
        <div class="right" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0.8vw">
          <span > Asset: USD </span>
          <span> Token: AcmeUSD </span>
          <span > Token issued: 10,000,000 </span>
          <span > Collateral: 10,000,000 ETH </span>
          <span > KYC Level: Boundary </span>
          <br>

          <button mat-raised-button color="primary"> <span [routerLink]="['../dashboard']">Depost Funds</span></button>
        </div>

      </div>

      <span>
        Company A is established in 2005, we have been doing Foreign Exchange, bla bla bla, Company A is established in 2005, we have been doing Foreign Exchange, bla bla bla, Company A is established in 2005, we have been doing Foreign Exchange, bla bla bla,
        Company A is established in 2005, we have been doing Foreign Exchange, bla bla bla,Company A is established in 2005, we have been doing Foreign Exchange, bla bla bla,
      </span>

    </span>

    <span></span>
    <span></span>
    <span></span>
    <div class="foot">
      <span class="title" fxLayout="column" fxLayoutAlign="start start">
        <span>Active Trade Pairs( Aginest AcmeUSD): </span>
        <span><hr style="border-width: 2px;"></span>
      </span>

      <span class="table">
        <mat-table #table [dataSource]="dataSource" style="width: 60%; overflow: auto; max-height: 300px;">
          <!-- Position Column -->
          <ng-container matColumnDef="token">
            <mat-header-cell *matHeaderCellDef> Token </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.token}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
           <ng-container matColumnDef="volume">
             <mat-header-cell *matHeaderCellDef> Volume </mat-header-cell>
             <mat-cell *matCellDef="let element"> {{element.volume}} </mat-cell>
           </ng-container>

           <!-- Color Column -->
           <ng-container matColumnDef="change">
             <mat-header-cell *matHeaderCellDef> Change </mat-header-cell>
             <mat-cell *matCellDef="let element"> {{element.change}} </mat-cell>
           </ng-container>
           <ng-container matColumnDef="name">
             <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
             <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
           </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </span>
    </div>
  </div>


</mat-card>
