.app-name{
  font-size: 2.5vw;
}


.mat-raised-button, .mat-primary, .depost-but{
  background-color: #d8d8d8;
  font-size: 1.3vw;
  width: 14vw;
  height: 3.5vw;
  min-width: 150px;
  min-height: 35px;
}

.detail-list{

  .left{
    .name{
      font-size: 1.5vw;
    }
  }

  .right{
    font-size: 1.15vw;
  }
}

.table, .mat-header-row, .mat-row{
  border-bottom-style: none;
}

.table, .mat-header-cell{
  font-size: 20px;
}

.table, .mat-cell{
  font-size: 16px;
}

.foot{
  .title{
    font-size: 1.5vw;
  }

  hr{
    width: 40vw;
  }
}

.table{
  display: block;
  margin-top: 1.5vw;
}
