<app-gateway-leftnav></app-gateway-leftnav>
<div class="container">
  <div class="title">
    <img src="./assets/images/arrow-left.png" alt="">
    <div class="back" (click)="goBack()">Back</div>
    <div class="titleword">Withdraw</div>
  </div>
  <div class="midtip">
    <img src="./assets/images/submit-white.png">
    <img src="./assets/images/transfer-white.png">
    <img src="./assets/images/mint-blue.png">
    <div class="heng"></div>
  </div>
  <div class="midword">
    <div>Submit</div>
    <div>Transfer</div>
    <div>Burn</div>
  </div>
  <div class="midcontent">
    <div class="part1">
      <div>Withdraw request has been successfully sent to Operator. You will </div>
      <div>get notified once proceed to the next step.</div>
      <div>To check request status, please go to dashboard.</div>
    </div>


  </div>
  <div class="dbutoons">
    <button mat-raised-button routerLink="/en-US/gateway/dashboard"><div class="action">Done</div></button>
  </div>

</div>
