<app-gateway-leftnav></app-gateway-leftnav>
<div class="container">
  <div class="title">
    <img src="./assets/images/arrow-left.png" alt="">
    <div class="back" (click)="goBack()">Back</div>
    <div class="titleword">Verify</div>
  </div>
  <div class="midtip">
    <img src="./assets/images/submit-white.png">
    <img src="./assets/images/check-blue.png">
    <div class="heng"></div>
  </div>
  <div class="midword">
    <div>Submit</div>
    <div>Verify</div>
  </div>
  <div class="midcontent">
    <div class="word" style="text-algin:center; margin-top: 110px; margin-bottom:80px;color: #666A6E;">Our Admin is verify and approval your requests, please wait.</div>
  </div>
  <div class="dbutoons">
    <button mat-raised-button routerLink="/en-US/gateway/dashboard">
      <div class="action">Done</div>
    </button>
  </div>


</div>
