<p class="content" fxLayout="column" fxLayoutAlign="center center" style="width: 100%; height: 100%;">
  <mat-card fxLayout="column" fxLayoutAlign="center space-between">
  <p class="title">Account Created</p>
  <p class="useremail">Email: {{username}}</p>
  <p class="useradd">Address: {{ethereumAddress}}</p>
<button mat-raised-button color="primary" routerLink="/en-US/"><span class="action"> Home </span></button>
</mat-card>
</p>
